<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dr. Rashmi Sinha's Clinic | Meet your Doctor</title>
  </head>
  <body>
    <link rel="stylesheet" href="/static/style.css" />
    <header class="hero home-hero">
      <h1>Meet Dr. Rashmi Sinha</h1>
      <p>Your trusted healthcare partner in Dhanbad.</p>
    </header>
    <section class="content">
      <div class="cards">
        <p>
          Dr. Rashmi Sinha is the most famous gynaecologist in Jharkhand and
          West Bengal. She has more than 15 years of experience in the field.
          Dr. Sinha specializes in laproscopic surgeries, dealing with high risk
          pregnencies, infertility treatment etc. She has worked in several
          renowned hospitals across the country and has received many accolades
        </p>
      </div>
      <div class="achievements">
        <h1>Qualifications</h1>
        <p>MBBS</p>
        <br />
        <p>MS (Obstetrics & Gynaecology)</p>
        <br />
        <p>FICOG</p>
        <br />
        <p>FMAS, DMAS</p>
        <br />
      </div>
    </section>
    <footer>
      <p>&copy; 2025 Dr. Rashmi Sinha's Clinic | All Rights Reserved</p>
    </footer>
    <a href="/templates/Rs_homepage.html" class="codepen-button"
      ><span>Back to Home</span></a>
  </body>
</html>
